.ternak {
  background-color: #7030a0;
}

.buas {
  background-color: #ffff00;
}

.sound-card i {
  font-size: 80px;
}

.wrapper {
  width: 200px;
  height: 200px;
  background-color: white;
}

.text {
  width: 200px;
  /* height: 30px; */
  min-height: 30px;
  background-color: white;
}

.img-card img {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid black;
}

.img-card img:hover {
  cursor: pointer;
}

.per-world,
.per-syllable {
  margin-top: 20px;
  width: 200px;
  /* height: 30px; */
  min-height: 30px;
  background-color: white;
}
